<h3>Pragmatic Order Confirmation</h3>

<p>This is a confirmation of your recent order:</p>
<table>
    <tr><th>Qty</th><th>Description</th><th>Price</th></tr>
    <%= render @order.line_items -%>
</table>
